/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font1: Arial, sans-serif;
    --bg: #FFFFFF;
    --pg-sm: 100%;
    --pg-md:750px;
    --pg-lg: 900px;
    --pg-xl:1140px;
    --pg-xxl:1556px;
    --highlight: #dc0000;
    --curve1:5px;
    --curve2:20px;
}

body{
    font-family: var(--font1);
    background-color: var(--bg);
}

.promobar{
    background-color: #000000;
}

.promobar .text-banner{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 100%;
    font-size: 12px;
}

.promobar .text-banner{
    color: #FFFFFF;
}

.promobar .text-banner .t1{
    text-transform: uppercase;
}

.promobar .text-banner a{
    text-decoration: none;
    color: var(--highlight);
}

.promobar .text-banner .number{
    color: var(--highlight);
}

.container{
    width: var(--pg-sm);
    margin: 0 auto;
}

@media (min-width:768px){
    .container{
        max-width: var(--pg-md);
    }
}

@media (min-width:992px){
    .container{
        max-width: var(--pg-lg);
    }
}

@media (min-width:1200px){
    .container{
        max-width: var(--pg-xl);
    }
}

@media (min-width:1600px){
    .container{
        max-width: var(--pg-xxl);
    }
}

/* @media (min-width:1800px){
    .container{
        width: 1700px;
    }
} */

/* Header Styles */
  .header{
    position: relative;
    width: 100%;
  }

  .row1{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 10px 0px;
  }

  .header-container .header-icons .icon{
    text-transform: uppercase;
  }

  .logo{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
  }

  .logo .md-logo{
    width: 100%;
    height: auto;
  }

  .header-icons .icon{
    margin-left: 15px;
    cursor: pointer;
  }

  /* Row 2 */
  /* .row2{
    background-color: #f8f9fa;
  } */

  .menu-bar .menu{
    list-style: none;
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
  }

  .menu-item{
    position: relative;
    margin-right: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
  }

  .menu-item:last-of-type{
    margin: 0px;
  }

  .menu-item .arrow{
    /* display: none; */
    width: 10px;
    height: 10px;
  }

  .menu-item:hover{
    color: red;
  }

  .submenu{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffffba;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
    text-transform: none;
    z-index: 100;
  }

  .menu-item:hover .submenu{
    display: block;
  }

  .submenu li{
    padding: 10px 20px;
  }

  /* Hamburger Menu */
  .hamburger{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    z-index: 10;
  }

  .hamburger .line{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }

  .mobile-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
  }

  .mobile-menu ul{
    margin-top: 50px;
    list-style: none;
  }

  .mobile-menu ul li{
    margin: 20px 0;
    cursor: pointer;
  }

  /* Welcome section */
  .md__cars section.welcome,
  .md__cars .md__main{
    max-width: 1920px;
    margin: 0 auto;
  }

  section.welcome{
    background: url('banner1.jpg') no-repeat center center/cover;
    padding: 10px 0px;
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.welcome .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .welcome .welcome-content{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .welcome .welcome-content .block1,
  .welcome .welcome-content .block2{
    padding-left: 0px;
  }

  .welcome .welcome-content .block1{
    max-width: 500px;
  }

  .welcome .welcome-content .block2{
    border-radius: var(--curve2);
    background-color: #FFFFFF;
  }

  .welcome .welcome-content .block1 .t1,
  .welcome .welcome-content .block1 h2,
  .welcome .welcome-content .block1 .cta{
    color: #FFFFFF;
  }

  .welcome .welcome-content .block1 .cta{
    background-color: var(--highlight);
    border: none;
    box-shadow: none;
    border-radius: var(--curve1);
    padding: 10px 20px;
    margin: 10px 0px;
  }

  .welcome .welcome-content .block1 .cta a{
    text-decoration: none;
    color: #FFFFFF;
  }

  .welcome .welcome-content .block1 h2{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
  }

  .welcome .rating{
    background-color: rgb(65,56,57,0.6);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:2px 10px;
    border-radius: var(--curve2);
    margin:20px 0px;
    color: #FFFFFF;
  }

  .welcome .rating .stars{
    color: #fde03c;
    margin-right: 10px;
  }

  .welcome .welcome-content .block2 .contact-form ,
  .welcome .welcome-content .block2 .intouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome .welcome-content .block2 .contact-form h3{
    font-size: 25px;
    color: #525a69;
    margin-bottom: 15px;
  }

  .welcome .welcome-content .block2 .contact-form .l1{
    color: #3e3e3e;
    margin-bottom: 20px;
  }

  .welcome .welcome-content .block2 .contact-form .l2,
  .welcome .welcome-content .block2 .contact-form .l2 a{
    color: var(--highlight);
    text-decoration: none;
    margin-bottom: 15px;
  }

  .welcome .welcome-content .block2 .contact-form .intouch{
    margin-top: 5px;
    width: 100%;
  }

  .welcome .welcome-content .block2 .contact-form .form__input{
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #ececec;
  }

  .welcome .welcome-content .block2 .contact-form .form__cta{
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #1e1a17;
    width: 100%;
    color: #FFFFFF;
  }

  .welcome .welcome-content .block2 .contact-form .logo-wrap{
    width: 186px;
    max-height: 50px;
    height: 100%;
    margin-bottom: 20px;
  }

  .welcome .welcome-content .block2 .contact-form .logo-wrap .md-logo{
    width: 100%;
    height: auto;
  }

  /* ṇewsletter */
  .md__cars .md__newsletter{
    background-color: rgb(245 245 245);
    padding: 40px 0px;
  }

  .md__newsletter .md__nlcontents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 560px;
    margin: 0 auto  ;
  }

  .md__newsletter .md__nlcontents .update{
    color:rgb(123 123 123);
    margin:20px 0px 15px 0px;
  }

  .md__newsletter .md__nlcontents .md__subscribe{
    display: flex;
    height: 48px;
  }

  .md__newsletter .md__nlcontents .md__subscribe:focus-visible,
  .md__newsletter .md__nlcontents .md__subscribe input:focus-visible{
    outline: none   ;
  }

  .md__newsletter .md__nlcontents #email-input{
    width: 100%;
    border-radius: 0px;
    padding: 5px;
    box-shadow: none;
    border: none;
    max-width: 500px;
  }

  .md__newsletter .md__nlcontents .md__subscribe .verify{
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    max-width: 140px;
    width: 100%;
    box-shadow: none;
}

  .md__newsletter .md__nlcontents .md__subscribe .arrow{
    width: 10px;
    height: auto;
    transform: rotate(-90deg);
  }

  /* footer */
  .md__cars .md__footer{
    background-color: #000000;
    padding: 30px 0px;
  }

  .md__footer .md__footlogo{
    width: 150px;
    height: auto;
  }

  .md__footer .footer__block{
    display: grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns: 1fr;
  }

  .md__footer .footer__block ul.nav a,
  .md__footer .footer__block .cell a,
  .md__footer .footer__block .cell address,
  .md__footer .footer__block .cell .media{
    color: #FFFFFF;
    text-decoration: none;
    font-style:normal;
  }

  .md__footer .footer__block .cell a{
    color: var(--highlight);
  }

  .md__footer .footer__block ul.nav li,
  .md__footer .footer__block .cell p{
    margin-bottom: 10px;
  }

@media (max-width:768px){
    /* .welcome .welcome-content .block1{
        margin: 0px 20px;
        padding: 10px;
        background-color: rgb(0,0,0,0.5);
        border-radius: var(--curve2);
    } */

    .welcome .welcome-content{
      padding: 0px 10px;
    }

    .welcome .welcome-content .block2 .contact-form{
      width: 80%;
      margin: 0 auto;
    }

    .welcome .welcome-content .block1 .t1{
        max-width: 320px;
    }

    .welcome .welcome-content .block2{
        margin-top: 30px;
    }

    .md__newsletter .md__nlcontents{
        max-width: 80vw;
    }

  .md__footer .footer__block ul.nav,
  .md__footer .footer__block .cell.contact{
    list-style-type: none;
    padding-left: 20px;
  }

}

@media (max-width: 992px){
    .header-container .row1{
        justify-content: flex-start;
    }

    .promobar .text-banner{
        text-align: center;
    }

    .header .row1 .header-icons{
        margin-right: 35px;
    }

    .promobar .text-banner .t1{
        margin-bottom: 5px;
    }

    .row2{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .mobile-menu{
        display: none;
    }

    .mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-item .arrow{
        display: none;
    }

    .md__footer .footer__block .cell:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:768px) {
    .promobar .text-banner{
        justify-content: space-between;
        padding: 10px 10px;
        font-size: 12px;
    }

    .welcome .welcome-content{
        flex-direction: row;
        justify-content: space-between;
    }

    .welcome .welcome-section .block1{
        text-align: left;
    }

    .welcome .welcome-content .block2 .contact-form h3{
      font-size: 33px;
    }

    .md__footer .footer__block {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(3,1fr);
        grid-template-areas:
          "logo logo"
          "list1 list2"
          "address address";
    }

    .md__footer .footer__block .cell.b1{
        grid-area: logo;
        margin-bottom: 20px;
    }

    .md__footer .footer__block .cell.list1{
        grid-area: list1;
    }

    .md__footer .footer__block .cell.list2{
        grid-area: list2;
    }

    .md__footer .footer__block .cell.contact{
        grid-area: address;
        margin-top: 20px;
    }

}

@media (min-width:992px) {
    .promobar .text-banner{
        padding: 10px 0px;
    }

    .promobar .text-banner{
        flex-direction: row;
        /* text-align: left; */
    }

    section.welcome{
        /* min-height: 60vh; */
    }

    .welcome .welcome-content .block2{
      width: 500px;
    }

    .welcome .welcome-content .block2 .contact-form .logo-wrap .md-logo{
      margin-bottom: 0px;
    }

    .md__footer .footer__block{
        display: flex;
        justify-content: space-between;
    }

    .md__footer .footer__block .cell.contact{
        margin-top: 0px;
    }

    .header-container .menu-item{
        font-size: 14px;
        display: flex;
        align-items: flex-start;
    }

    .menu-item .arrow{
      margin-left: 7px;
      margin-top: 2px;
    }
}

@media (min-width:1200px) {
    .promobar .text-banner{
        font-size: 12px;
    }

    .header-container .menu-item{
        margin-right: 15px;
        font-size: 14px;
    }

    section.welcome{
        /* min-height: 65vh; */
    }

    .md__newsletter .md__nlcontents{
      max-width: 740px;
    }

    .md__newsletter .md__nlcontents .md__subscribe .verify {
      max-width: 228px;
  }
}

@media (min-width:1400px) {
    .promobar .text-banner{
        padding: 26px 0px 19px 0px;
    }

    section.welcome{
        min-height: 956px;
        padding: 80px 0px;
    }

    .header-container .menu-item{
        margin-right: 34px;
        font-size: 16px;
    }

    .menu-item .arrow{
      margin-left: 15px;
      margin-top: 2px;
    }

    .welcome .welcome-content .block2 .contact-form h3{
      margin-bottom: 45px;
    }
}

@media (min-width:1600px) {
  .header .row1{
    /* margin-top: 30px; */
    padding: 0px;
  }

  header.header{
    padding-top: 22.5px;
  }

  .menu-bar .menu{
    padding:38px 0px;
  }

  .header-container .logo{
    height: 64px;
    width: 246px;
  }

  .welcome .welcome-content .block2{
    width: 792px;
  }

  .welcome .welcome-content .block2 .contact-form{
    padding:40px 87px;
  }


  .md__cars .md__newsletter{
    padding: 68px 0px;
  }

  .md__cars .md__newsletter h3{
    margin-top: 8px;
  }

  .md__footer .footer__block ul.nav li, .md__footer .footer__block .cell p {
    margin-bottom: 36px;
  }
}